html, body{
  box-sizing: border-box;
  margin: 0 auto;
  background-image: url(https://www.transparenttextures.com/patterns/paper-3.png);
  background-color: #4b5a69;
}

.App {
  text-align: center;
  margin: 0 auto;

  width: 100%;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.card {

  margin-top: .25rem;
  margin-bottom: 15px;
  border-radius: 42px;
  border: 3px solid #edc71c;

}

.editAndDelete {
  margin-top: 20px;
}



.buttonContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.fullDate {
  font-size: 1.5rem;
}

.editAndDelete img {
  height: 30px;
}

.buttonContainer button{
  margin: .5em .5rem;
}

/* .editAndDelete button .trash {
  fill: orange;
  border: 1px solid red;
} */
/* .buttonContainer .editAndDelete{
  padding: 0 1rem;
} */

.yellow{
  color: #ebbd36
}
.blue{
  color: #47cbe6;
}


@media  (max-width: 600px) {
  .row {

    margin: 0 auto;
    flex-direction: row;
  }

  .buttonContainer {
    flex-direction: row;
    display: flex;
    align-items: center;
    margin-left: 0px;

  }

  .editAndDelete{
    margin-top: 0px;
  }

}